.editor {
    background-color: rgb(44, 50, 56);
    flex: 1;
}

.editor .highlight {
    background-color: rgb(63, 81, 97);
}

.editor textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    caret-color: rgb(203, 227, 255);
    color: rgb(121, 184, 255);
    font-family: Pixel Operator Mono;
    font-size: large;
    margin: 0;
    outline: none;
    padding: 0;
    resize: none;
    line-height: 1;
    height: 100%;
    width: 100%;
}

.editor textarea::-webkit-input-placeholder {
    color: rgb(136, 152, 167);
}

.editor textarea::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
}

.editor textarea::selection {
    background-color: rgb(85, 136, 194);
    color: rgb(121, 184, 255);
}
