@font-face {
    font-family: Comic Mono;
    src: url('./comicmono-webfont.woff2') format('woff2'),
        url('./comicmono-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: Comic Mono;
    src: url('./comicmono-bold-webfont.woff2') format('woff2'),
        url('./comicmono-bold-webfont.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('./pixeloperatormono8-webfont.woff2') format('woff2'),
        url('./pixeloperatormono8-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Pixel Operator Mono 8';
    src: url('./pixeloperatormono8-bold-webfont.woff2') format('woff2'),
        url('./pixeloperatormono8-bold-webfont.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: Pixel Operator Mono;
    src: url('./pixeloperatormono-webfont.woff2') format('woff2'),
        url('./pixeloperatormono-webfont.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: Pixel Operator Mono;
    src: url('./pixeloperatormono-bold-webfont.woff2') format('woff2'),
        url('./pixeloperatormono-bold-webfont.woff') format('woff');
    font-weight: bold;
}
