@import url(./app/components/viewer/styles.css);
@import url(./app/components/editor/styles.css);
@import url(./fonts/styles.css);

* {
    font-family: 'Pixel Operator Mono 8';
    -webkit-touch-callout: none;
    user-select: none;
}

body {
    align-items: center;
    background-color: rgb(31, 36, 40);
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

h1 {
    font-family: 'Pixel Operator Mono 8';
    font-size: 1em;
    font-weight: normal;
}

header,
section {
    margin: 0;
    display: flex;
    justify-content: center;
}

#logo {
    image-rendering: pixelated;
}

#container {
    margin: 0;
}

#header-container,
#section-container {
    width: 800px;
}

#output {
    -webkit-appearance: none;
    background-color: rgb(44, 50, 56);
    border-radius: 0;
    border: 0;
    box-sizing: border-box;
    caret-color: rgb(203, 227, 255);
    color: rgb(121, 184, 255);
    font-family: Pixel Operator Mono;
    font-size: large;
    height: 1em;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 0;
    resize: none;
    width: 100%;
}

#output::-webkit-input-placeholder {
    color: rgb(136, 152, 167);
}

#output::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
}

#assembler-container {
    display: flex;
    gap: 0.25em;
    justify-content: space-between;
    padding-bottom: 0.25em;
}

#assembler-editors {
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    flex: 1;
}

#assembler-viewer {
    flex: none;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

#buttons {
    display: flex;
    gap: 0.25em;
    justify-content: space-between;
}

#buttons > input[type='button'] {
    -webkit-appearance: none;
    font-family: 'Pixel Operator Mono 8';
    border-radius: 0;
    padding: 0.5em;
    width: 100%;
}

#step {
    background-color: rgb(0, 128, 255);
    border: 0;
    color: white;
}

#step:active {
    background-color: rgb(0, 100, 200);
    color: lightgray;
}

#exec {
    background-color: rgb(255, 0, 128);
    border: 0;
    color: white;
}

#exec:active {
    background-color: rgb(200, 0, 100);
    color: lightgray;
}
