.viewer::-webkit-scrollbar {
    width: 1em;
}

.viewer::-webkit-scrollbar-track {
    background: rgb(63, 81, 97);
}

.viewer::-webkit-scrollbar-thumb {
    background: rgb(121, 184, 255);
}

.viewer::-webkit-scrollbar-thumb:hover {
    background: white;
}

.viewer {
    overflow-x: hidden;
    overflow-y: scroll;
}

.viewer .scrolling {
    padding: 0;
    margin: 0;
}

.viewer table {
    position: sticky;
    top: 0;
    border-spacing: 0;
}

.viewer table td {
    background-color: rgb(44, 50, 56);
    color: rgb(63, 81, 97);
    font-family: Pixel Operator Mono;
    font-size: large;
}

.viewer table td::selection {
    background-color: rgb(85, 136, 194);
    color: rgb(121, 184, 255);
}

.viewer table td.data {
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.viewer table td.code {
    background-color: rgb(44, 50, 56);
    color: rgb(121, 184, 255);
}

.viewer table td.addr {
    -webkit-user-select: none;
    user-select: none;
    background-color: rgb(63, 81, 97);
    color: rgb(121, 184, 255);
    padding: 0;
}
